@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-color: rgba(0, 0, 0, 0.35) transparent !important;
}
html {
  scroll-behavior: smooth;
}
:root,
[data-theme] {
  background-color: var(--fallback-b1, #ffffff) !important;
  color: var(--fallback-bc, #000000) !important;
}
.input-bordered {
  border-color: var(--fallback-bc, #92c5e933) !important;
}
.table
  :where(thead tr, tbody tr:not(:last-child), tbody tr:first-child:last-child) {
  border-bottom-color: var(--fallback-b2, #e0e0e080);
}
.ticket {
  border-radius: 15px;
  background-size: 450px;
  background-repeat: no-repeat;
  background-position: center center;
}
.ticket-inner {
  background: linear-gradient(to right, #d7fcf5e7, #d7fcf5e7, #d7fcf5e7),
    url("../assets/bus-icon.png");
  /* background-size: 450px; */
  background-size: cover, 400px;
  background-repeat: no-repeat;
  background-position: center center;
}
